@import "tailwindcss";

:root {
  --bg-color: #f8f9fa;
  --text: #495057;
  --accent: #f2994a;
  --text-info: #6c757d;
  --muted: #b8babc;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}